@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/keyframes";
@import "./base/base";
@import "./base/typography";
@import "./layouts/header";
@import "./layouts/footer";



/*section accueil*/
div.location{
    text-align: center;
    background: $color-seveniary;
    border-top: 2px solid $color-sixthiary;
    padding: 15px;
    & i{
        font-size: 15px;
        padding: 0 10px;
    }
    & span{
        font-size: 15px;
        font-weight: bold;
    }   
}
div.reservation{
    display:flex;
}

div.search{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width:50%;
    background: $color-fifthiary;
    & h2{
        font-size: 25px;
        margin:20px;
    }
    & p{
        font-size: 20px;
        margin:20px;
    }
    & .explore{
        border-radius: 25px;
        background: $color-gradient;
        width: 200px;
        margin: 20px;
        padding: 15px 0;
        @include boxing-shadow;

        & span{
            margin: 20px 0;
        }
    }
    & a{
        color: white;
        align-self: center;
    }
}

div.functioning{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:50%;
    & h2{
        margin: 60px 0 20px;
        font-size: 25px;
    }
    & .functioning_list{
        list-style-type: none;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
}

.functioning_container{
    display:flex;
    & .number {
        width: 25px;
        height: 25px;
        color: white;
        font-size: 14px;
        position: relative;
        right: 35px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color:$color-primary;
    } 
    & .functioning_container_text{
        display:flex;
        align-items: center;
        & i{
            margin-right: 20px;
            font-size:18px;
            
        }
        & span{
            color:black;
        }
    }
}

li#choose{
@extend %functioning-box;
@include boxing-shadow;
}
li#compose{
    @extend %functioning-box;
    @include boxing-shadow;
}
li#taste{
    @extend %functioning-box;
    @include boxing-shadow;
}

/*section restauration*/
section#restauration{
    display:flex;
    flex-wrap:wrap;
    background-color: $color-fifthiary;    
    & h2{
        padding: 50px 30px 0 30px;
    }    
    & .restauration_container{
        display: flex;
        grid-gap: 20px;
        background-color: #f6f6f6;
        border-radius: 25px;
        width: 100%;
        margin: 30px;
        > a{
            color: black;
            border-radius: 20px;
            width: calc(25%);
        }
    }
}

.resto_item{
    display: flex;
    flex-direction: column;
}
.img_restos{
    height: 175px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    & > img{
        height: 175px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}
.new{
    background-color: #99E2D0;
    color: #1A9778;
    padding: 10px;
    margin: 10px;
    width:65px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
}

.img_resto1{
    background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
   @extend %back-img;
}
    
.img_resto2{
    @extend %back-img;
    background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);    
}

.resto_name{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
    & .resto_name_text{
        padding: 10px;
        & h3, p{
            font-size:16px;
        }
    }
    & .resto_name_heart{
        font-size: 10px;
        padding-right: 20px;
        width: 20px;
        height:21px;    
    }
}
// animation des coeurs
.empty-heart:hover{
    color:transparent;
}
.full-heart{
    @extend %anim-full-heart;
}
// animation dans les cartes des restaurants
.menu-resto{
    display:flex;
    flex-direction: column;
    background-color: $color-fifthiary;
    border-radius: 50px 50px 0 0 ;
    position: relative;
    margin-top: -40px;
    & .menu-resto_name{
        margin:30px;
        display:flex;
        justify-content: center;
        align-items: center;
        & .menu-resto_name_heart{
            cursor: pointer;
            font-size: 15px;
            padding: 10px; 
            margin-left: 30px;
            }
        & h3{
            font-family: "Shrikhand", cursive, sans-serif;
            font-size:25px;
        }
    }
}
.full-heart-item{
    @extend %anim-heart;
}
// banniere
.banniere{
    display:flex;
    height:350px;
    & img{
        object-fit: cover;
        width: 100%;
    }
}
h4{
    font-size: 18px;
    margin:0 20px;
}
// carte des menus
.toute_la_carte{
    display:grid;
    grid-template-columns: repeat(3, calc(33%));
    padding-bottom: 50px;
}
.menu-ligne{
    border-bottom: solid 4px #99e2d0;
    width: 40px;
    margin: -10px 20px 10px;
}
.carte{
    display:flex;
    flex-direction: column;
    width:100%;
}
.item-carte-menus{
    display:flex;
    box-sizing: border-box;
    flex-direction: column;  
}
.item-carte{
    display:flex;
    border-radius: 20px;
    margin:10px;
    @include boxing-shadow;
    padding: 10px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    background-color: white;
    animation: item-carte-progress 1s ease-in-out both;    
    &:hover{
        & > .anim{
            animation: animation-check 0.5s ease both;
            & > .fa-check-circle{
                animation: anim-icon-check 0.5s reverse both;
                color:white;
                font-size: 20px;    
            }
        }
        & .item-box{
            & .item-prix{
                animation: anim-price 0.5s ease both;
            }
        }    
    }
}

.carte1{
    animation-delay: $anim-time;
} 
.carte2{
    animation-delay: $anim-time*2;
}
.carte3{
    animation-delay: $anim-time*3;
}
.carte4{
    animation-delay: $anim-time*4;
}
.carte5{
    animation-delay: $anim-time*5;
}
.carte6{
    animation-delay: $anim-time*6;
}
.carte7{
    animation-delay: $anim-time*7;
}
.carte8{
    animation-delay: $anim-time*8;
}
.carte9{
    animation-delay: $anim-time*9;
}
.carte10{
    animation-delay: $anim-time*10;
}

.item-box{
    display:flex;
    width: 100%;
    justify-content: space-between;
    & .item-prix{
        padding-top: 28px;
        font-weight: 800;
        margin-left: 10px;
    }
}

.item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    & .main-item-text{
        font-weight:800;
        font-size: 18px;    
    }
    & p{
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.anim{
    display: flex;
    flex-direction: row;
    background-color: #99e2d0;
    height:75px;
    width: 60px;
    margin: -10px -70px;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color:white;
}
.order{
    border-radius: 25px;
    background: $color-gradient;
    width: 200px;
    margin-bottom: 70px;
    padding: 15px 0;
    @include boxing-shadow;
    text-align: center;
    align-self: center;
    & a{  
        color: white;
        & span{
            font-size: 18px;
            margin: 20px 0;
        }
    }
}