div.reservation{
    display:flex;
    flex-direction: column;
}
div.search{
    width:100%;
    padding: 40px 0;
}

div.functioning h2{
    margin-left: -160px;
}

div.functioning{
    width:100%;
    margin-top:0;
    
}  
section#restauration .restauration_container{
    flex-direction: column;
}    
section#restauration .restauration_container .resto{
    width:100%;
}
.menu-resto .menu-resto_name h3{
    font-size: 25px;
}    
.toute_la_carte{
    display:flex;
    flex-direction: column;
}
.carte{
    margin-bottom: 30px;
}

.menu-resto .menu-resto_name{
    justify-content: space-between;
}
.menu-resto .menu-resto_name .menu-resto_name_heart{
    padding: 0;
    margin:0;
}