// animation dans les cartes des restaurants
.menu-resto{
    display:flex;
    flex-direction: column;
    background-color: $color-fifthiary;
    border-radius: 50px 50px 0 0 ;
    position: relative;
    margin-top: -40px;
    & .menu-resto_name{
        margin:30px;
        display:flex;
        justify-content: center;
        align-items: center;
        & .menu-resto_name_heart{
            cursor: pointer;
            font-size: 15px;
            padding: 10px; 
            margin-left: 30px;
        }
        & h3{
            font-family: "Shrikhand", cursive, sans-serif;
            font-size:30px;
        }
    }
}
.full-heart-item{
    @extend %anim-heart;
}
// banniere
.banniere{
    display:flex;
    height:350px;
    & img{
        object-fit: cover;
        width: 100%;
    }
}
h4{
    font-size: 18px;
    margin:10px 20px;
}
// carte des menus
.toute_la_carte{
    display:grid;
    grid-template-columns: repeat(3, calc(33%));
    padding-bottom: 50px;
}
.menu-ligne{
    border-bottom: solid 4px #99e2d0;
    width: 40px;
    margin: 0 20px 10px;
}
.carte{
    display:flex;
    flex-direction: column;
    width:100%;
}
.item-carte-menus{
    display:flex;
    flex-direction: column;  
}
.carte1{
    animation-delay: $anim-time;
} 
.carte2{
    animation-delay: $anim-time*2;
}
.carte3{
    animation-delay: $anim-time*3;
}
.carte4{
    animation-delay: $anim-time*4;
}
.carte5{
    animation-delay: $anim-time*5;
}
.carte6{
    animation-delay: $anim-time*6;
}
.carte7{
    animation-delay: $anim-time*7;
}
.carte8{
    animation-delay: $anim-time*8;
}
.carte9{
    animation-delay: $anim-time*9;
}
.carte10{
    animation-delay: $anim-time*10;
}

.item-carte{
    display:flex;
    position: relative;
    border-radius: 20px;
    margin:10px;
    @include boxing-shadow;
    padding: 10px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    background-color: white;
    animation: item-carte-progress 1s ease-in-out both;    
    &:hover{
        & > .anim{
            transform: translateX(0);
            & > .fa-check-circle{
                animation: anim-icon-check 0.5s reverse both;
                color:white;
                font-size: 20px;    
            }
        }
        & .item-box{
            & .item-text{
                margin-right:70px;    
            }
            
            & .item-prix{
                transform:translateX(-60px);
            }
        }    
    }   
}

.item-box{
    display:flex;
    width: 100%;
    justify-content: space-between;
    & .item-prix{
        padding-top: 28px;
        font-weight: 800;
        margin: 0 10px;
        transition: transform 0.5s ease;
    }
}

.item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: margin-right 0.5s ease;
    & .main-item-text{
        font-weight:800;
        font-size: 20px;    
    }
    & p{
        font-size: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.anim{
    position: absolute;
    display: flex;
    height: 70px;
    right: 0;
    background-color: #99e2d0;
    width: 70px;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color:white;
    transform:translateX(100%);
    transition: transform 0.5s ease;
}
.order{
    border-radius: 25px;
    background: $color-gradient;
    width: 200px;
    margin-bottom: 70px;
    padding: 15px 0;
    @include boxing-shadow;
    text-align: center;
    align-self: center;
    cursor: pointer;
    & a{  
        color: white;
        & span{
            font-size: 18px;
            margin: 20px 0;
        }
    }
    &:hover {
       @extend %relief; 
    }
}
