// ombre des boites
%functioning-box{
    border-radius: 20px;
    width: 280px;
    margin:10px 0;
    padding:20px;
    background: $color-fifthiary;
    cursor: pointer;
    
    &:hover{
        background-color: $color-eighthiary;
        color: $color-primary; 
    }
}

// remplissage des coeurs
%anim-full-heart{
    color:transparent;
    position:relative;
    top:-20px;
    &:hover{
        color: $color-secondary;
        transition: all 1.5s;    
    }
}

// remplissage des coeurs dans les menus
%anim-heart{
    color:transparent;
    position:relative;
    left:-34px;
    &:hover {
        color: $color-secondary;
        transition: all 1.5s;
    }    
}

%footer-ext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

// survol des boutons "explorer nos restaurants" et "commander"
%relief{ 
    background-color: $color-eighthiary;
    filter: brightness(1.2);
    @include boxing-shadow-secondary;
    transition: box-shadow 0.5s;
}