$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-fourthiary:#a8a8a8;
$color-fifthiary:#f6f6f6;
$color-sixthiary:#cfcfcf;
$color-seveniary:#eaeaea;
$color-eighthiary:#f5edff;
$color-gradient:linear-gradient( 165deg, $color-secondary, $color-primary );
$anim-time: 0.15s;
$num-carte: 10;

